.search__input:focus ~ .modal__input {
  visibility: visible;
}
.modal__input {
  visibility: hidden;
  position: absolute;
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: #212121;
  padding: 1em .5em;
  display: flex;
  flex-direction: column;
  border-radius: .5em;

  .track-info__title {
    font-size: 1.05rem;
  }
  .track-info__artist {
    font-size: .9rem;
  }
}

.modal__input-item {
  display: grid;
  grid-template-columns: auto 1em;
  align-items: center;
  justify-content: space-between;
  padding-inline: .5em;
  padding-block: .7em;
  gap: 2em;
  border-radius: .5em;
  cursor: pointer;
  justify-items: start;

  &:hover {
    background-color: rgba(255, 255, 255, 0.11);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.modal__input-info{
  display: grid;
  gap: .5em;
  grid-template-columns: 2em auto;
  gap: 1em;
}
.modal__input-picture {
  width: 2.5em;
  height: 2.5em;
  border-radius: .5em;
}
.modal__input-close {
  color: #928c8c;
  width: 1em;
  height: 1em;
}
.modal__input-close:hover {
  scale: 1.01;
  color: #fff;
}
.modal__input-title {
  font-size: 1.1rem;
  font-weight: 600;
}